<script setup>
import data from "./data.json";

useHead({
  title: data.title,
  bodyAttrs: {
    class: `
      bg-gradient-to-b
      from-sky-700
      to-sky-900
      text-slate-300
      min-h-screen
      pb-10
      px-2`,
  },
});
</script>

<template>
  <NavBar class="mb-10" />
  <NuxtPage />
</template>

<style>
a {
  @apply underline hover:no-underline hover:text-slate-400;
}
</style>