<script>
import { defineComponent } from "@vue/composition-api";
import data from "../data.json";

export default defineComponent({
  props: {
    locale: {
      type: String,
      required: false,
      default: "en",
    },
  },
  setup(props) {
    const locale = computed(() => data.locales[props.locale]);
    const years = Object.keys(data.projects).map(Number).sort().reverse();
    const projectsData = years.map((year) => ({
      year,
      projects: data.projects[year],
    }));
    return {
      ...data,
      locale,
      projectsData,
    };
  },
});
</script>

<template>
  <div class="w-full flex flex-col justify-center">
    <div class="text-center">
      <div class="mb-8">
        <h1
          class="
            text-2xl
            font-extrabold
            whitespace-nowrap
            relative
            overflow-hidden
          "
        >
          {{ title }}
          <div
            class="
              absolute
              inset-0
              text-black
              -z-10
              blur-sm
            "
          >
            {{ title }}
          </div>
        </h1>
      </div>

      <p class="mb-3">
        {{ locale.intro }}
      </p>

      <p class="mt-5">
        {{ locale.art }}
      </p>

      <ul class="mt-8">
        <li
          v-for="projects in projectsData"
          :key="projects.year"
          class="grid grid-cols-2 gap-1 text-right"
        >
          <span class="text-lg font-bold pr-2 text-slate-400">{{
            projects.year
          }}</span>
          <ul class="text-left border-l-2 border-slate-400 pl-2 pb-5">
            <li v-for="project in projects.projects" :key="project.url">
              <external-link :href="project.url">{{
                project.title
              }}</external-link>
            </li>
          </ul>
        </li>
      </ul>

      <p class="mt-5">
        {{ locale.links }}
        <template v-for="(profile, index) in profiles" :key="profile.url">
          <external-link :href="profile.url">{{ profile.title }}</external-link>
          <template v-if="index < profiles.length - 1">, </template> </template
        >.
      </p>
    </div>
  </div>
</template>