<template>
  <div class="flex justify-end gap-2">
    <nuxt-link :to="{ name: 'index' }">en</nuxt-link>
    <nuxt-link :to="{ name: 'fr' }">fr</nuxt-link>
  </div>
</template>

<style scoped>
.router-link-exact-active {
  @apply text-gray-400 no-underline;
}
a {
  @apply text-lg p-2;
}
</style>