<script setup>
import data from "../../data.json";

useHead({
  htmlAttrs: {
    lang: "fr",
  },
  meta: [
    {
      hid: "description",
      name: "description",
      content: data.locales.fr.intro,
    },
  ],
  link: [
    {
      rel: "alternate",
      hreflang: "en",
      href: "https://paulgv.com",
    },
    {
      rel: "canonical",
      href: "https://paulgv.com/fr",
    },
  ],
});
</script>

<template>
  <Intro locale="fr" />
</template>