<script setup>
import data from "../data.json";

useHead({
  htmlAttrs: {
    lang: "en",
  },
  meta: [
    {
      hid: "description",
      name: "description",
      content: data.locales.en.intro,
    },
  ],
  link: [
    {
      rel: "alternate",
      hreflang: "fr",
      href: "https://paulgv.com/fr",
    },
    {
      rel: "canonical",
      href: "https://paulgv.com",
    },
  ],
});
</script>

<template>
  <Intro />
</template>